@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom animations */
  --animate-spotlight: spotlight 2s ease 1 forwards;
  --animate-animateSVG: animateSVG 5s ease-in-out 1s;
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
  --animate-animateSkills: animateSkills 30s linear infinite;
  --animate-animateSkillsReverse: animateSkillsReverse 30s linear infinite;
  --animate-strokeFill: strokeFill 3s ease-in-out infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f2018;
    --foreground: #ededed;
  }
}

::selection {
  background-color: #61cc9c;
  color: black;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom keyframes */
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes animateSVG {
  0% {
    stroke-dashoffset: 1100;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 1100;
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes animateSkills {
  0% {
    left: 100%;
  }

  100% {
    left: -250px;
  }
}

@keyframes animateSkillsReverse {
  0% {
    right: 100%;
  }

  100% {
    right: -250px;
  }
}

@keyframes strokeFill {
  0% {
    fill: transparent;
    stroke-dasharray: 0 100;
  }

  50% {
    fill: transparent;
    stroke-dasharray: 100 0;
  }

  100% {
    fill: white;
    stroke-dasharray: 100 0;
  }
}

@keyframes bubbleUp {
  0% {
    translate: 0;
  }

  50% {
    translate: 100px;
  }

  100% {
    translate: 0;
    z-index: 2;
  }
}

@keyframes return {
  0% {
    translate: 0;
    z-index: 2;
  }

  50% {
    translate: 100px;
  }

  100% {
    translate: 0;
    z-index: 0;
  }
}

.details-card:hover {
  animation: bubbleUp 0.4s ease forwards;
}

.details-card.return {
  animation: return 0.4s ease forwards;
}